<%= render 'shared/breadcrumb',category: @recipe.category %>
<article class="recipe">
  <section class="recipe-head">
    <h1><%= @recipe.title  %></h1>
    <small>
      <time>
        <%= @recipe.created_at.to_date.strftime("%d %B, %Y") %>
      </time>
      <%if @recipe.category.present?%>
        <%= link_to @recipe.category.name, @recipe.category %>
      <% end %>
      <%= link_to 'Изменить', edit_recipe_path(@recipe) %>
      <%= link_to 'Удалить', recipes_path(@recipe), method: :delete, data: {confirm: 'Вы уверены?'} %>
    </small>
  </section>

  <section class="recipe-head">
    <%= image_tag @recipe.image.url(:large), class: 'img-show' if  @recipe.image? %>
  </section>
  <section class="recipe-body">
    <% @recipe_attachments.each do |ra| %>
      <%= image_tag ra.image.url(:large), class: 'img-show' if ra.image? %>
    <% end %>
    <%= @recipe.body %>
  </section>

</article>

<%= render 'disqus' %>